<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>likelion</h1>
    <%10.times do%> 
        <p>Hack your life</p>
    <%end%>
</body>
</html>